#landing {
  text-align: center;
}

#App-logo {
  height: 10em;
}
#room {
  flex-shrink: inherit;
  height: 25em;
}

#header {
  text-align: center;
  font-size: 23px;
  padding: 5px 5px 5px 5px;
}

#input {
  text-align: Left;
  font-size: 13px;
}