#landing {
  text-align: center;
}

#App-logo {
  height: 10em;
}
#room {
  flex-shrink: inherit;
  height: 25em;
}

#header {
  text-align: left;
  font-size: 18px;
  padding: 5px 5px 5px 5px
}

#input {
  text-align: Left;
  font-size: 18px
}

#Savings {
  text-align: center;
  font-size: 30px;
  color: green;
}

#center {
  align-content: center;
}

#App-logo-small {
  height: 5em;
  align-content: flex-end;
}